{
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "objectWrap": "collapse",
    "arrowParens": "avoid",
    "tabWidth": 4,
    "bracketSpacing": true,
    "endOfLine": "crlf"
}
